html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section_white {
  width: 40%;
  height: 100%;
  background-color: rgb(231, 223, 223);
  float: left;
}
/* appy style to the big part of page (details) */
.section_green {
  width: 60%;
  height: 100%;
  background-color: #60d691;
  float: left;
  
}
p.text {
  color: #ffffff;
  padding: 20px;
}

h1{
    color: #ffffff;
    padding: 20px;
}

h2{
    
    padding: 20px;
}

/* Apply styles to the "Name" label */
.name-label {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px; /* Adjust as needed */
  padding: 20px;
}

/* Apply styles to the name value */
.name-value {
  font-size: 16px;
  color: #ffffff;
}



/* Apply styles to the icon container */
.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100px; /* Set a suitable width */
  height: 100px;
    padding: 10px;
    margin-left: 80px;
    margin-top: 80px;
  }
  
  /* Style the individual icon divs */
  .icon {
    justify-content: space-between;
    width: 100px;
    height:100px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    margin-left: 90px;
  }
  
  /* Style the icons */
  .icon i {
    font-size: 14px;
    color: blue;
    /* margin-bottom: 5px; */
  }
  
  /* Apply styles to the icon text container */
  .icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Style the text */
  .icon-text-container p {
    font-size: 14px;
    margin: 0;
  }
  